# Ambiente virtual
venv/
.env/
.env.*        # arquivos como .env.dev, .env.prod

#click32/settings.py

# Arquivos de compilação do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de configuração do VS Code
.vscode/

# Arquivos de banco de dados
db.sqlite3
*.sqlite3

*/migrations/__pycache__/
!vitrine/migrations/__init__.py  # mantém o __init__ para o Django reconhecer o pacote


# Arquivos de log
*.log
*.bak
*.tmp

# Arquivos de cache e temporários
*.pot
*.mo
*.swp
*.swo
*~

# Arquivos de migração não rastreados
# **Cuidado**: comente para versionar as migrações
# */migrations/*.py
# !*/migrations/__init__.py

# Ignorar uploads dinâmicos e pastas de mídia que não devem ir para o Git
media/
media/flyers/
media/stores/

# Mas manter os ícones versionados
!media/icons/

# Arquivos estáticos
staticfiles/
static_root/
build/
dist/

# Coverage (testes)
htmlcov/
.coverage
.coverage.*
.cache
.noseids

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Django Debug Toolbar
debug.log

# MacOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker
*.pid
