version: "3.9"

services:
  click32_app:
    build: .
    container_name: ${APP_CONTAINER_NAME:-click32_app}
    command: /entrypoint.sh
    env_file:
      - ${APP_ENV_FILE:-.env}
    depends_on:
      - postgres_db
    networks:
      - app_network
    volumes:
      - staticfiles_volume:/app/staticfiles
      - media_volume:/app/media
      
  postgres_db:
    image: postgres:16
    container_name: ${POSTGRES_CONTAINER_NAME:-click32_postgres}
    restart: unless-stopped
    env_file:
      - ${APP_ENV_FILE:-.env}
    volumes:
      - postgres_data_volume:/var/lib/postgresql/data
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: ${NGINX_CONTAINER_NAME:-click32_nginx}
    restart: unless-stopped
    ports:
      - "${NGINX_HTTP_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - staticfiles_volume:/staticfiles:ro
      - media_volume:/media:ro
    depends_on:
      - click32_app
    networks:
      - app_network

networks:
  app_network:

volumes:
  postgres_data_volume:
  staticfiles_volume:
  media_volume: