# Exemplo de variáveis de ambiente para configurar o projeto
# Copie este arquivo para `.env_bairroX` e preencha com valores reais
# Não inclua senhas ou chaves sensíveis neste arquivo!

POSTGRES_DB=click32_db_bairroX
POSTGRES_USER=click32_user_bairroX
POSTGRES_PASSWORD= # Gere com: python -c "import secrets; print(secrets.token_urlsafe(16))"
POSTGRES_HOST=postgres_X
POSTGRES_PORT=5432
SECRET_KEY=insira_uma_chave_segura_aqui  # Gere com: python -c "import secrets; print(secrets.token_urlsafe(50))"
ALLOWED_HOSTS=localhost,seu-dominio.com
DEBUG=True  # Mude para False em produção
SESSION_COOKIE_SECURE=False  # Mude para True em produção com HTTPS
CSRF_COOKIE_SECURE=False    # Mude para True em produção com HTTPS
CSRF_TRUSTED_ORIGINS=http://localhost:800X,https://seu-dominio.com
CORS_ALLOW_ALL_ORIGINS=False