.store-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin:  auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
}

.store-banner {
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    
}

.store-banner:hover {
    transform: scale(1.01);
}

.store-banner img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 5;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
body {
    padding-top: 60px; /* ou um pouco mais, se necessário */
    background-color: #f4f4f4;
  }

@media (min-width: 1600px) {
  .store-list,
  .tag-buttons-wrapper {
    max-width: 1440px;
  }

  .store-banner img {
    aspect-ratio: 16 / 4; /* um pouco mais alto para telas grandes */
    max-height: 500px;
  }
}