.main-content {
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    z-index: 1;
}

.sidebar.collapsed ~ .main-content {
    margin-left: 40px;
}

.store-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 1200px;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y;
    box-sizing: border-box;
    padding-bottom: 8px;
}

.sidebar:not(.collapsed) ~ .main-content {
    touch-action: none; /* Bloqueia toques no main-content quando sidebar expandido */
}

.store-list::-webkit-scrollbar {
    display: none;
}

.store-banner {
    display: block;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: slideInFromRight 0.6s ease-out forwards;
    -webkit-animation: slideInFromRight 0.6s ease-out forwards;
    will-change: transform, opacity;

}


.store-banner:nth-child(1) { animation-delay: 0s; -webkit-animation-delay: 0s; }
.store-banner:nth-child(2) { animation-delay: 0.1s; -webkit-animation-delay: 0.1s; }
.store-banner:nth-child(3) { animation-delay: 0.2s; -webkit-animation-delay: 0.2s; }
.store-banner:nth-child(4) { animation-delay: 0.3s; -webkit-animation-delay: 0.3s; }
.store-banner:nth-child(5) { animation-delay: 0.4s; -webkit-animation-delay: 0.4s; }
.store-banner:nth-child(6) { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.store-banner:nth-child(7) { animation-delay: 0.6s; -webkit-animation-delay: 0.6s; }
.store-banner:nth-child(8) { animation-delay: 0.7s; -webkit-animation-delay: 0.7s; }

.store-banner:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
}

.store-banner img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 5;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromRight {
    from {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@media (min-width: 1600px) {
    .store-list,
    .tag-buttons-wrapper {
        max-width: 1440px;
    }
    .store-banner img {
        aspect-ratio: 16 / 4;
        max-height: 500px;
    }
}

@media (max-width: 1024px) {
    .store-list {
        margin-left: 40px;
        width: calc(100% - 40px);
        padding-right: 10px;
        padding-left: 10px;
    }
}