.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(244, 244, 244, 0.90);
    z-index: 1000;
    height: 48px;
    overflow: visible;
}

.toolbar-container {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 100%;
    align-items: center;
    padding-left: 24px; /* Mantém o espaço para a sidebar */
}

.toolbar-container a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    transition: transform 0.3s ease;
}

.hidden {
  display: none !important;
}


@media (min-width: 768px) {
    .toolbar-container {
        gap: 40px;
    }
    .toolbar-container a {
        font-size: 1.2rem;
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1600px) {
    .toolbar-container {
        max-width: 1200px;
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .toolbar-container {
        gap: 24px;
        padding-left: 48px;
    }
}

@media (max-width: 480px) {
    .toolbar-container {
        gap: 24px;
        padding-left: 24px;
    }
    .toolbar-container a {
        font-size: 1rem;
        width: 32px;
        height: 32px;
    }
    .toolbar-container a.tooltip::after {
        font-size: 0.8rem;
        padding: 3px 6px;
        bottom: -26px;
    }
}

@media (max-width: 320px) {
    .toolbar-container {
        gap: 16px;
    }
    .toolbar-container a {
        font-size: 0.9rem;
        width: 28px;
        height: 28px;
    }
}