.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px 0;
    z-index: 1000;
    
  }
  
  .toolbar-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 20px;
  }
  
  .toolbar-container a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .toolbar a,
  .toolbar a:visited,
  .toolbar a:hover,
  .toolbar a:active,
  .toolbar a:focus {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }


/*
# old css
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    text-align: left;
}

.nav-link {
    color: rgb(131, 131, 131);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: none;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .toolbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
  }*/
 