{%load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Sobre</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/toolbar.css' %}">
    </head>
    <div class="toolbar">
        <div class="toolbar-container">
            <a href="{% url 'início' %}" >Início</a>
            <a href="{% url 'anuncie' %}" >Anuncie</a>
            <a href="{% url 'sobre' %}" >Sobre</a>
        </div>
    </div>
</html>
