{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anuncie</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/toolbar.css' %}">
        
    </head>
    <body>
        {% include "_navbar.html" %}        
        <div>
            <h1> Seja um anunciante</h1>
            <p> Entre em contato para divulgar sua loja ou serviço! </p>
        </div>        
    </body>
</html>