{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#2c3e50">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Click32">

  <link rel="icon" href="{% static 'icons/icon-128x128.webp' %}?v={{ STATIC_VERSION }}" type="image/png" sizes="128x128">
  <link rel="icon" href="{% static 'icons/icon-144x144.webp' %}?v={{ STATIC_VERSION }}" type="image/png" sizes="144x144">
  <link rel="icon" href="{% static 'icons/icon-152x152.webp' %}?v={{ STATIC_VERSION }}" type="image/png" sizes="152x152">
  <link rel="icon" href="{% static 'icons/icon-192x192.webp' %}?v={{ STATIC_VERSION }}" type="image/png" sizes="192x192">
  <link rel="icon" href="{% static 'icons/icon-384x384.webp' %}?v={{ STATIC_VERSION }}" type="image/png" sizes="384x384">
  <link rel="icon" href="{% static 'icons/icon-512x512.webp' %}?v={{ STATIC_VERSION }}" type="image/png" sizes="512x512">
  <link rel="apple-touch-icon" href="{% static 'icons/icon-180x180.webp' %}?v={{ STATIC_VERSION }}" sizes="180x180">
  <link rel="manifest" href="{% static 'manifest.json' %}?v={{ STATIC_VERSION }}">

  {% block extra_css %}{% endblock %}

  <title>Click32</title>
</head>
<body>

  {% block content %}{% endblock %}

  {% block extra_js %}
  <script src="{% static 'js/service-worker-register.js' %}?v={{ STATIC_VERSION }}"></script>
  <script src="{% static 'js/pwa_install.js' %}?v={{ STATIC_VERSION }}"></script>
  <script src="{% static 'js/active_session.js' %}?v={{ STATIC_VERSION }}"></script>
  {% endblock %}

</body>
</html>