{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    {% include '_tag_buttons.html' %}

    {% if stores_vip %}
        <div class="carousel-wrapper">
            <div class="carousel-container">
                {% for store in stores_vip %}
                    {% if store.main_banner %}
                        <div class="carousel-item">
                            <a href="{% url 'store_detail_by_id' store.id %}?element_type=main_banner" class="store-banner">
                                <img 
                                    src="{{ store.main_banner.url }}" 
                                    alt="{{ store.name }}"
                                    loading="lazy"
                                    width="300"
                                    height="200"
                                >
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Banner de anúncio com configuração segura -->
                <div class="carousel-item">
                    <a 
                        href="https://wa.me/{{ settings.WHATSAPP_NUMBER|default:'5521980555851' }}" 
                        target="_blank" 
                        rel="noopener noreferrer"
                    >
                        <img 
                            src="{% static 'ad_banner.jpeg' %}" 
                            alt="Anuncie aqui - Entre em contato"
                            loading="lazy"
                            width="300"
                            height="200"
                        >
                    </a>
                </div>
            </div>
            <div class="carousel-dots"></div>
        </div>
        
        <div class="hide-banners"></div>
        <div class="carousel-fade-mask hidden"></div>

        <div class="store-list">
            {% for store in stores %}
                {% if store.main_banner %}
                    <a href="{% url 'store_detail_by_id' store.id %}?element_type=main_banner" class="store-banner">
                        <img 
                            src="{{ store.main_banner.url }}" 
                            alt="{{ store.name }}"
                            loading="lazy"
                            width="300"
                            height="200"
                        >
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="store-list-filter">
            {% for store in stores %}
                {% if store.main_banner %}
                    <a href="{% url 'store_detail_by_id' store.id %}?element_type=main_banner" class="store-banner">
                        <img 
                            src="{{ store.main_banner.url }}" 
                            alt="{{ store.name }}"
                            loading="lazy"
                            width="300"
                            height="200"
                        >
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <script src="{% static 'js/carousel_home.js' %}"></script>
{% endblock %}