{% load frontend_tags %}
<!-- TOOLBAR HTML -->
<div class="toolbar">
    <div class="toolbar-top">
        <div class="tb-logo">
            {% icon_logo_dark %}
        </div>
        <div class="tb-right">
            <div class="tb-location">
                <i class="fas fa-location-dot tb-location-icon"></i>
                <span class="tb-location-text">Km32, Nova Iguaçu</span>
            </div>
            <button class="tb-btn" title="Mais opções" id="btnMais">
                <i class="fas fa-ellipsis-vertical"></i>
            </button>
        </div>
    </div>
</div>
