{% extends 'base.html' %}
{% load static %}
{% load frontend_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/notif_page.css' %}?v={{ STATIC_VERSION }}">
{% endblock %}

{% block toolbar_top %}
<div class="toolbar">
  <div class="toolbar-top">
    <button class="tb-back" title="Voltar" id="notifPageBack">
      <i class="fas fa-chevron-left"></i>
    </button>
    <span class="tb-title">Notificações</span>
    <button class="tb-btn notif-markall-text" id="notifPageMarkAll">
    <span class="tb-title-btn">
        Marcar como lidas
    </span>
  
</button>
    <div class="tb-actions">
      <button class="tb-btn" id="btnMais" title="Mais opções">
        <i class="fas fa-ellipsis-vertical"></i>
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="shell">

  <!-- ── Main ── -->
  <div class="main">

    <!-- quem scrolla são as notificações, não a página -->
    <div class="scroll-area" id="scrollArea">
      <div class="notif-feed" id="notifPageMain">
        <!-- preenchido pelo JS -->
      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/notification.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock %}