<!-- popup menu -->
  <div class="popup-menu" id="popupMenu">
    <div class="popup-item" data-action="faq">
       <i class="fas fa-question-circle"></i><a href="{% url 'faq' %}">Perguntas frequentes
            </a>
    </div>
    <div class="popup-item" data-action="anuncio">
      <i class="fas fa-bullhorn"></i><a href="{% url 'anuncie' %}">Anunciar aqui</a>
    </div>
    <div class="popup-item" data-action="feedback">
      <i class="fas fa-comment"></i>Feedback
    </div>
    <div class="popup-item" data-action="sobre">
      <i class="fas fa-circle-info"></i><a href="{% url 'sobre' %}">Sobre o app</a>
    </div>
  </div>
</div>